@import '@constants/colors.scss';
@import '@constants/typography.scss';
@import '@constants/media.scss';

.modal-title{
   font-size: $text-color;
   text-transform: capitalize;
   font-family: $font-primary; 
}
.modal-content{
    padding: 10px 10px;
    border: 0px;
}